streamlit
python-dotenv
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-huggingface==0.1.2
langchain-groq==0.3.2
youtube-transcript-api
faiss-cpu
tiktoken
sentence-transformers
rank-bm25
